/* les variables CSS dans root*/
body{
    background-color: var(--color-light);
    font-family: var(--font-main);
}
.navbar{
    background-color: var(--color-light);
    padding: var(--spacing-md);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
     font-family: var(--font-title);
}
/* Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*section histoire text+image*/
.histoiry{
    background-image: url('../images/HISTOIRE BAC.jpeg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
/*overlay pour la lisisibilité*/
.overlay{
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    padding: 20px;
}
/*content*/
.histoiry-content{
    color: #fff;
    max-width: 700px;
    margin-top: 100px;
}
.histoiry-content h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.histoiry-content p{
    font-size: 1.1rem;
    line-height: 1.8;
    opacity:0.9;
}
/*les cartes equipes et valeurs*/
.equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 20px;
    background-color: #f9f9f956;
    text-align: center;
}
/*titre de la section*/
.equipe h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}
/*cadres individuels des menbres*/
.equipe .card{
    background-color: #333;
    color: antiquewhite;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    box-shadow: 0.3s;
}

/*animation initiale*/
.fade-item{
    opacity:0;
    transform: translateY(30px);
    animation: fadeUp 1s ease forwards;
   
}
/*image des cardes*/
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s ease;
    transform: 0.4s ease;
}
.card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 20px 40px rgb(85, 83, 83);
}
.card:hover img{
    transform: scale(1.1);
}
/*Bouton*/
.card .btn{
    background: var(--accent);
    border: none;
    transition: all 0.3s ease;
}
.card .btn:hover{
    background: #a67c3b;
    transform: scale(1.05);
}
    /*Animation*/
    @keyframes fadeUp{
        from{
            opacity: 0;
            transform: translateY(40px);
        }
        to{
            opacity: 1;
            transform: translate(0);
        }
    }
/*apparition une à une*/
.fade-item:nth-child(1){animation-delay: 0.7s;}
.fade-item:nth-child(2){animation-delay: 1.2s;}
.fade-item:nth-child(3){animation-delay: 1.7s;}
.fade-item:nth-child(4){animation-delay: 2.2s;}
.fade-item:nth-child(5){animation-delay: 2.5s;}

/*effet hover sur les cadres*/
.equipe .card:hover{
transform: translateY(-10px);
box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
/*image dans le cadre*/
.equipe .card img{
    width:100%;
    height: 250px;
    object-fit: cover;
}
/*responsive des cartes notre équipe*/
@media (max-width: 768px){
    .equipe .col-lg-3{
        flex: 0 0 100%;
        max-width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:375px){
    .equipe .col-lg-3{
         flex: 0 0 100%;
        max-width: 50%;
        margin-bottom: 20px;
    }
}
/*sections valeurs*/
.valeurs .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}
.valeurs h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}
.valeurs .valeur-card{
    flex: 1 1 calc(25% - 20px); /*les cartes sur la meme ligne*/
    max-width: calc(25% -20px);
    padding: 30px 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.valeurs .valeur-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.valeurs .valeur-card h3{
    margin-bottom: 15px;
    color: #222;
}
.valeurs .valeur-card p{
    font-size: 1rem;
    color: #555;
}
/*section chiffres clés*/
#chiffre{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
#chi{
    flex: 1;
    flex-wrap: wrap;
    min-height: 150px;
    text-align: center;
    padding: 20px 40px;
    background: #48151512;
    border-radius: 12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.8) ;
}
/*Responsive*/
@media(max-width:768px){
    #chiffre{
       grid-template-columns:repeat(2, 1fr);
    }
}
@media(max-width:375px){
    #chiffre{
       grid-template-columns: 1fr;
    }
    
}