body{
    background-color: var(--color-light);
    font-family: var(--font-main);
}
.navbar{
    background-color: var(--color-light);
    padding: var(--spacing-md);
     position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
.btn{
    background-color: #d4a017;
    padding: 10px 10px ;
    border-radius: 10px;
}