/* les variables CSS dans root*/
body{
    background-color: var(--color-light);
    font-family: var(--font-main);
    background-color: moccasin;
}
.navbar{
    background-color: var(--color-light);
    padding: var(--spacing-md);
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
     font-family: var(--font-title);
}
.btn{
    background-color: #d4a017;
    padding: 10px 10px ;
    border-radius: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mt-4{
    color: #fff;
}
.from label{
    color: #fff;
}
.form-control{
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
.form-control::placeholder{
    color: #ccc;
}
.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
  width: 100%;
  height: 400px;
  border: 0;
  border-radius: 10px;
}
.text-center{
    margin-top: 20px;
}
