/* les variables CSS dans root*/

body{
    background-color: var(--color-light);
    font-family: var(--font-main);
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.459)
}

.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
     font-family: var(--font-title);
     color: black;
}

.btn{
    background-color: #d4a017;
    padding: 10px 10px ;
    border-radius: 10px;
}
.placehorder{
    color:white;
}
.card{
    text-align: center;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.catégories{
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
}
.filtre{
    border-radius: 999px;
    background-color:#E6F1FB;
    padding: auto;
}
/* IMAGE */
.freelance-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* CARD */
.freelancer-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.226);
  transition: 0.3s;
  color: aliceblue;
}

/* HOVER */
.freelancer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.mt-3 a:hover{
    background-color: black;
    color: azure;
}
.bl:active{
    background-color: aliceblue;
}

.hidden{
    display: none !important;
}