/* les variables CSS dans root*/

body{
    background-color: var(--color-light);
    font-family: var(--font-main);
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.459)
}
.navbar{
    background-color: var(--color-light);
    padding: var(--spacing-md);
    position: fixed;
    top: 0;
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
     font-family: var(--font-title);
}
/*logo*/
/*container du logo*/
.logo{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', Arial, sans serif ;
}
/*Rectangle jaune pour le A*/
.logo-rect{
    width:50px;
    height: 50px; 
    background-color: #d4a017;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.btn{
    background-color: #d4a017;
    padding: 10px 10px ;
    border-radius: 10px;
}
.card{
    text-align: center;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-control, .form-select{
    background-color: #33333394;
    color: white;
    border: 1px solid #555;
}
/* IMAGE */
.freelance-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* CARD */
.freelancer-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #55555584;
  transition: 0.3s;
  color: aliceblue;
}

/* HOVER */
.freelancer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}