/* les variables CSS dans root*/

body{
    background-color: var(--color-light);
    font-family: var(--font-main);
}
.navbar{
    background-color: var(--color-light);
    padding: var(--spacing-md);
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
     font-family: var(--font-title);
}
/*logo*/
/*container du logo*/
.logo{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', Arial, sans serif ;
}
/*Rectangle jaune pour le A*/
.logo-rect{
    width:50px;
    height: 50px; 
    background-color: #d4a017;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
/*A dans le rectangle*/
.logo-a{
    color: white;
    font-weight: bold;
    font-size: 28px;
}
/*text Afritalent*/
.logo-text{
    color: #1a1a1a;
    font-weight: 600;
    font-size: 20px;
}
.logo-texte{
    color: #d4a017;
}
/*les liens nav*/
.nav-link{
    position: relative;
    transition: 0.3s;
    color: #1a1a1a;
}
.nav-link:focus{
     color: #d4a017;
}
.nav-link:hover{
    color: #d4a017 ;
}

.btn{
    background-color: #d4a017;
    padding: 10px 10px ;
    border-radius: 10px;
}
.card{
    text-align: center;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.form-control, .form-select{
    background-color: #333;
    color: white;
    border: 1px solid #555;
}
.freelance-card{
    background-color: #333;
    color: white;
    border-radius: 10 px;
    transition: 0.3s;
}
.freelance-card{
    transform:translateY(-5px) ;
}
h5{
    color: #ffd700;
}
.profil{
    height: 200px;
    width: 200px;
}