
/* les variables CSS dans root*/
body{
    background-color: whitesmoke;
    font-family: var(--font-main);
}
/*espacement de la page (contenu)*/
.html,body{
    height: 100%;
    margin-top: 50px;
} 
/*disposition des tarifs */
.pricing{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
/* sous titre faq en accordion*/
.text-center{
    margin-bottom: 20px;
    margin-top: 30px;
    color:black;
}
/*les cartes tarifs*/
.card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius:10px;
    background-color: rgb(236, 232, 227);
}
/*badge populaire*/
.badge{
    background: linear-gradient(115deg,  rgba(0,0, 0, 0.15), rgba(0,40,80,0.6));
    color: black;
    padding: 5px;
    border-radius: 5px;
    transform: scale(1.05);
}
/*les boutons questions-reponses */
.accordion-item{
    background-color: #1c1c1c ;
     border:1px solid #333;
}
/* bouton questions*/
.accordion-button{
    background-color: #333;
    color: white;
    font-weight: bold;
}
/*bouton reponses*/
.accordion-body{
color: #fff;
}
ul{
    list-style: none;
}
/*la section fAQ*/
#FAQ{
    background: linear-gradient(115deg,  rgba(0,0, 0, 0.15), rgba(0,40,80,0.6));
}