
/* les variables CSS dans root*/
body{
    background-color: whitesmoke;
    font-family: var(--font-main);
     margin-top: 100px;
}
.navbar{
    background-color: var(--color-primary);
    padding: var(--spacing-md);
    position: sticky;   /*pour que ma navbar reste fixe*/
    top: 0 ;
}
.btn{
    background-color: var(--color-primary);
    border: var(--radius);
}
h1, h2, h3, h4, h5{
    margin-top: 20px;
     font-family: var(--font-title);
}
.html,body{
    height: 100%;
    margin: 0;
}
main{
    flex: 1;
}
.pricing{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.text-center{
    margin-bottom: 20px;
    margin-top: 30px;
    color:#1c1c1c;
}
.card{
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius:10px;
}
.popular{
    border: 2px solid #007bff;
    transform: scale(1.05);
}
.badge{
    background: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
ul{
    list-style: none;
}
.mb-4{
    color:white;
}
.accordion-item{
    background-color: #1c1c1c ; border:1px solid #333;
}
.accordion-button{
    background-color: #333;
    color: white;
    font-weight: bold;
}
.accordion-collapse{
    color: #fff;
}
.accordion-body{
color: #fff;
}
footer{
    margin-top: 0;
}